<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="30DaysOfCcode">
            <directory>./Contests/ThirtyDaysOfCode/Day20/Test/</directory>
            <directory>./Contests/ThirtyDaysOfCode/Day25/Test/</directory>
            <directory>./Contests/ThirtyDaysOfCode/Day27/Test/</directory>
            <directory>./Contests/ThirtyDaysOfCode/Day29/Test/</directory>
        </testsuite>
        <testsuite name="HackDec2015">
            <directory>./Contests/HackDec2015/StraightFlush/Test/</directory>
        </testsuite>
    </testsuites>
</phpunit>